In [1]:
import pandas as pd
import gmaps
import requests

from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-05-22 22:00:36,-42.7826,147.0587,47.91,85,66,1.92
1,1,Thompson,CA,2022-05-22 22:00:22,55.7435,-97.8558,62.76,20,100,14.97
2,2,Tual,ID,2022-05-22 22:03:33,-5.6667,132.7500,83.23,76,34,17.18
3,3,Chokurdakh,RU,2022-05-22 22:03:33,70.6333,147.9167,32.56,99,100,2.17
4,4,Yellowknife,CA,2022-05-22 22:00:19,62.4560,-114.3525,41.43,49,100,5.73

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Tual,ID,2022-05-22 22:03:33,-5.6667,132.7500,83.23,76,34,17.18
7,7,Puerto Ayora,EC,2022-05-22 22:03:35,-0.7393,-90.3518,76.96,80,53,9.93
12,12,Kapaa,US,2022-05-22 22:03:36,22.0752,-159.3190,80.47,78,20,11.50
15,15,Hilo,US,2022-05-22 22:03:37,19.7297,-155.0900,89.28,50,0,8.99
16,16,Hithadhoo,MV,2022-05-22 22:03:37,-0.6000,73.0833,83.88,70,97,13.91
24,24,Dhidhdhoo,MV,2022-05-22 22:03:40,6.8833,73.1000,83.21,78,83,16.62
27,27,Rikitea,PF,2022-05-22 22:00:28,-23.1203,-134.9692,75.54,78,11,14.29
30,30,Lorengau,PG,2022-05-22 22:03:42,-2.0226,147.2712,84.87,65,98,12.73
31,31,Kahului,US,2022-05-22 22:01:31,20.8947,-156.4700,82.85,70,0,15.01
32,32,Vaini,TO,2022-05-22 22:00:31,-21.2000,-175.2000,77.40,83,39,15.43

In [11]:
preferred_cities_df.count()

City_ID       136
City          136
Country       136
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [17]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2           Tual      ID     83.23  -5.6667  132.7500
7   Puerto Ayora      EC     76.96  -0.7393  -90.3518
12         Kapaa      US     80.47  22.0752 -159.3190
15          Hilo      US     89.28  19.7297 -155.0900
16     Hithadhoo      MV     83.88  -0.6000   73.0833
24     Dhidhdhoo      MV     83.21   6.8833   73.1000
27       Rikitea      PF     75.54 -23.1203 -134.9692
30      Lorengau      PG     84.87  -2.0226  147.2712
31       Kahului      US     82.85  20.8947 -156.4700
32         Vaini      TO     77.40 -21.2000 -175.2000

In [18]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tual,ID,83.23,-5.6667,132.7500,Grand Vilia Hotel
7,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Kapaa,US,80.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Hilo,US,89.28,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Hithadhoo,MV,83.88,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...
531,Oistins,BB,82.49,13.0667,-59.5333,Butterfly Beach Hotel
532,Maceio,BR,76.44,-9.6658,-35.7353,Hotel Ponta Verde Maceió
533,Kirakira,SB,83.48,-10.4544,161.9205,SanBiz Lodge
534,Venado,MX,86.09,22.9333,-101.0833,Los 7 Callejones Hotel
538,Odweyne,SO,78.08,9.4092,45.0640,Eng Hiirey House

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [24]:
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))